.container {
  color: #000;
  text-align: left;
  min-width: 150px;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 6px;
}

.subtext {
  color: #666;
}

.defn {
  font-weight: normal;
  text-transform: lowercase;
  float: left;
  width: 100px;
  color: #000;
}

.bortle-B1 {
  color: #eee;
}

.bortle-B2 {
  color: #aaa;
}

.bortle-B3 {
  color: #4f4ffa;
}

.bortle-B4 {
  color: #008000;
}

.bortle-B5 {
  color: #ffcc00;
}

.bortle-B6 {
  color: #ff6600;
}

.bortle-B7 {
  color: #ff0000;
}
.bortle-B8,
.bortle-B9 {
  color: #ff0303;
}

@media (prefers-color-scheme: dark) {
  .container {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
  }

  .defn {
    color: #aaa;
  }

  .subtext {
    color: #ccc;
  }
}
